<html>
<body>
    <div>
      <h2>User Registration</h2>
      <div class="alert alert-danger" role="alert" *ngIf='errorMessage'>
        {{errorMessage}}
      </div>
      <div class="alert alert-success" role="alert" *ngIf='sucessMessage'>
        {{sucessMessage | json}}
      </div>
      <form #createClientForm = "ngForm" (ngSubmit) = "onClickSubmit(createClientForm)">
        <div class="form-group">
          <label for="username">User Name (Unique)</label>
          <input type="text" class="form-control" name="username" placeholder="Enter a unique user name" ngModel>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" name="password" placeholder="Enter Password" ngModel>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter your name" ngModel>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" name="address" placeholder="Enter your address" ngModel>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" placeholder="Enter Email" ngModel>
        </div> 
        <div class="form-group">
            <label for="mobileNumber">Mobile Number</label>
            <input type="number" class="form-control" name="mobileNumber" placeholder="Enter Mobile Number" ngModel>
        </div>
        <div class="form-group">
            <label for="loanAccountNumber">Loan Account Number</label>
            <input type="number" class="form-control" name="loanAccountNumber" placeholder="Enter Loan Account Number" ngModel>
        </div>
        <div class="form-group">
            <label for="loanInformation">Loan Information</label>
            <input type="text" class="form-control" name="loanInformation" placeholder="Enter Loan Information" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</body>    
</html>

