<html>

<body>
    <div class="row">
        <div class="col">
            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Invoice List</h5>
                    <p class="card-text">Here is the list of all invoices: </p>
                    <div class="card-text row">
                        <div class="col">
                            Filter by:
                            <select id="province" name="province" (click)="setFilter($event)">
                                <option value="CLIENT_USER_NAME">Client user name</option>
                                <option value="SUPPLIER_CODE">Supplier Code</option>
                                <option value="INVOICE_ID">Invoice Id</option>
                            </select>
                        </div>
                        <div class="col-9" style="display:flex; flex-direction: row; justify-content: left; align-items: left">
                            <input type="text" class="form-control w-50" name="filterValue" placeholder="Enter value" [(ngModel)]="filterValue">
                            <button type="submit" class="btn btn-primary mx-2" (click)="doFilter()">Submit</button>
                        </div>
                    </div>
                    <table class="table table-bordered mt-4">
                        <thead>
                            <tr>
                                <th>Invoice Id</th>
                                <th>Client Username</th>
                                <th>Supplier Code</th>
                                <th>Invoice Number</th>
                                <th>Invoice Date</th>
                                <th>Invoice Amount</th>
                                <th>Currency</th>
                                <th>InvoiceFile</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let invoice of invoices">
                                <td>{{ invoice.id }}</td>
                                <td>{{ invoice.clientUsername }}</td>
                                <td>{{ invoice.supplierCode }}</td>
                                <td>{{ invoice.invoiceNumber }}</td>
                                <td>{{ invoice.invoiceDate }}</td>
                                <td>{{ invoice.invoiceAmount }}</td>
                                <td>{{ invoice.currency }}</td>
                                <td>{{ invoice.invoiceFile }}</td>
                                <td [ngClass]="{'table-success' : invoice.status === 'APPROVED', 'table-danger' : invoice.status === 'REJECTED', 'table-warning' : invoice.status === 'AWAITING'}">{{ invoice.status }}</td>
                                <td>
                                    <button type="button" [disabled]="invoice.supplierCode != loggedInUser" class="btn btn-success mx-2" (click)="updateInvoiceStatus('APPROVED', invoice.id)">Approve</button>
                                    <button type="button" [disabled]="invoice.supplierCode != loggedInUser" class="btn btn-danger mx-2" (click)="updateInvoiceStatus('REJECTED', invoice.id)">Reject</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>