<html>

<body>
  <h6 class='navbar-brand' id="pageTitle">{{pageTitle}}</h6>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main_nav">

        <!--Welcome Navbar-->
        <ul class="navbar-nav"  *ngIf="loggedInUserType!='CLIENT' && loggedInUserType!='SUPPLIER'">
          <li><a class='nav-link' routerLinkActive='active' routerLink='welcome'>Welcome</a></li>
          <li><a class='nav-link' routerLinkActive='active' routerLink='/user-registration'>User Registration</a></li>
          <li><a class='nav-link' routerLinkActive='active' routerLink='/user-login'>User Login</a></li>
        </ul>

        <ul class="navbar-nav"  *ngIf="loggedInUserType=='CLIENT' || loggedInUserType=='SUPPLIER'">
          <li><a class='nav-link' routerLinkActive='active' routerLink='user-homepage'>Welcome {{ loggedInUser }}</a></li>
          <li *ngIf="loggedInUserType=='CLIENT'"><a class='nav-link' routerLinkActive='active' routerLink='user-upload-invoice'>Upload Invoice</a></li>
          <li *ngIf="loggedInUserType=='SUPPLIER'"><a class='nav-link' routerLinkActive='active' routerLink='user-view-all-clients'>Clients</a></li>
          <li *ngIf="loggedInUserType=='CLIENT'"><a class='nav-link' routerLinkActive='active' routerLink='user-view-all-suppliers'>Suppliers</a></li>
          <li *ngIf="loggedInUserType=='CLIENT'"><a class='nav-link' routerLinkActive='active' routerLink='client-view-invoice'>Invoices</a></li>
          <li *ngIf="loggedInUserType=='SUPPLIER'"><a class='nav-link' routerLinkActive='active' routerLink='supplier-view-invoice'>Invoices</a></li>
          <li><a class='nav-link' href="#" (click)='logout()'>Logout</a></li>
        </ul>

      </div>
    </div>
  </nav>
  <div class='container-fluid'>
    <router-outlet></router-outlet>
  </div>
</body>

</html>