<html>

<body>
    <div class="row">
        <div class="col">
            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">Clients List</h5>
                    <p class="card-text">Here is the list of all clients available in the system: </p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Country</th>
                                <th>State</th>
                                <th>City</th>
                                <th>Province</th>
                                <th>Email</th>
                                <th>Mobile Number</th>
                                <th>Loan Account Number</th>
                                <th>Loan Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of clients">
                                <td>{{ client.username }}</td>
                                <td>{{ client.password }}</td>
                                <td>{{ client.name }}</td>
                                <td>{{ client.address }}</td>
                                <td>{{ client.country }}</td>
                                <td>{{ client.state }}</td>
                                <td>{{ client.city }}</td>
                                <td>{{ client.province }}</td>
                                <td>{{ client.email }}</td>
                                <td>{{ client.mobileNumber }}</td>
                                <td>{{ client.loanAccountNumber }}</td>
                                <td>{{ client.loanInformation }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>